# operators in python
# assignment operaters
# incremental assignment operators

In [1]:
x= 2
x= x +2
print(x)

4

In [2]:
1 + 1 # ADDITION

2

In [3]:
2-1

1

In [4]:
3*4

12

In [5]:
8 / 4 # Division

2.0

In [6]:
8 / 5 #float division

1.6

In [7]:
8/4 ## float division

2.0

In [8]:
8 // 4 #integer division

2

In [9]:
8 + 9 - 7

10

In [10]:
# 8 + 8 - #syntax error:

In [11]:
5 + 5 * 5

30

In [12]:
(5 + 5) * 5 # BODMAS (Bracket || Oders || Divide || Multiply || Add || Substact)

50

In [13]:
2 * 2 * 2 * 2 * 2 # exponentaion

32

In [14]:
2 * 5

10

In [15]:
2 ** 5

32

In [16]:
15 / 3

5.0

In [17]:
10 // 3

3

In [18]:
15 % 2 # Modulus

1

In [19]:
10 % 2

0

In [20]:
# 15 %% 2

In [21]:
# 3 + 'nit'

In [22]:
a,b,c,d,e = 15, 7.8, 'nit', 8+9j, True

print(a)
print(b)
print(c)
print(d)
print(e)

15
7.8
nit
(8+9j)
True

In [23]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [24]:
type(c)

str

- So far we code with numbers(integer) 
- Lets work with string

In [25]:
'Naresh IT'

'Naresh IT'

python inbuild function - print & you need to pass the parameter in print()

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [26]:
print('Max it')

Max it

In [27]:
"max it technology"

'max it technology'

In [28]:
s1 = 'max it technology'
s1

'max it technology'

In [29]:
a = 2
b = 3
a + b

5

In [30]:
c = a + b
c

5

In [31]:
a = 3
b = 'hi'
type(b)

str

In [32]:
# print('max it's"Technology"') # \ has some special meaning to ignore the error

In [33]:
print('max it\'s"Technology"') #\ has some special meaning to ignore the error

max it's"Technology"

In [34]:
print('max it',  'Technology')

max it Technology

In [35]:
print("max it',  'Technology")

max it',  'Technology

In [36]:
# print the nit 2 times 
'nit' + ' nit'

'nit nit'

In [37]:
'nit'  ' nit'

'nit nit'

In [38]:
#5 time print
5 * 'nit'

'nitnitnitnitnit'

In [39]:
5*' nit' # soace between words

' nit nit nit nit nit'

In [40]:
print('c:\nit') #\n -- new line

c:
it

In [41]:
print(r'c:\nit') #raw string

c:\nit

# variable || identifier || object
![image.png](attachment:image.png)

In [42]:
2

2

In [43]:
x = 2 #x is variable/identifier/objec, 2 is the value
x

2

In [44]:
x + 3

5

In [45]:
y = 3
y

3

In [46]:
x + y

5

In [47]:
x = 9
x

9

In [48]:
x + y

12

In [49]:
x + 10

19

In [50]:
_ + y # _ understand the previous result of the

22

In [51]:
_ + y

25

In [52]:
_ + y

28

In [53]:
_ + y

31

In [54]:
y

3

In [55]:
_ + y

6

In [56]:
_ + y

9

In [57]:
_ + y

12

In [58]:
# string variable 
name = 'mit'

In [59]:
name

'mit'

In [60]:
name + 'technology'

'mittechnology'

In [61]:
name + ' technology'

'mit technology'

In [62]:
# name 'technology'

In [63]:
name

'mit'

In [64]:
len(name)

3

In [65]:
name[0] #python index begins with 0

'm'

In [66]:
# name[5]

In [67]:
# name[7]

In [68]:
name[-1]

't'

In [69]:
name[-2]

'i'

In [70]:
# name[-6]

## slicing

In [71]:
name

'mit'

In [72]:
name[0:1] #to print 2 character

'm'

In [73]:
name[0:2]

'mi'

In [74]:
name[1:4]

'it'

In [75]:
name[1:]

'it'

In [76]:
name[:4]

'mit'

In [77]:
name[3:9]

''

In [78]:
name

'mit'

In [79]:
name1 = 'fine' # change the string fine to dine 
name1

'fine'

In [80]:
name1[0:1]

'f'

In [81]:
# name1[0:1] = 'd' # i want to change 1st character of naresh (n) - t

In [82]:
# name1[0] = 'd' #strings in python are immutable

In [83]:
name1

'fine'

In [84]:
name1[1:]

'ine'

In [85]:
'd' + name1[1:] #i want to change fine to dine

'dine'

In [86]:
# num1.insert(2,'nit') #insert the value as per index values i.e 2nd index we are assigning nit

### introduce to ID()

In [87]:
# variable address
num = 5
id(num)

140726970759736

In [88]:
name = 'nit'
id(name) #Address will be different for both

2607728915440

In [89]:
a = 10
id(a)

140726970759896

In [90]:
b = a #thats why python is more memory efficient

In [91]:
id(b)

140726970759896

In [92]:
id(10)

140726970759896

In [93]:
k = 10 
id(k)

140726970759896

In [94]:
a = 20  # as we change the value of a then address will change
id(a)

140726970760216

In [95]:
id(b)

140726970759896

what ever the variale we assigned the memory and we not assigned anywhere then we can use as garbage collection.|| 
VARIABLE - we can change the values || CONSTANT - we cannot change the value
-can we make VARIABLE as a CONSTANT (note - in python you cannot make variable as constant)

In [96]:
PI = 3.14  #in math this is alway constant but python we can chang
PI

3.14

In [97]:
PI = 3.15
PI

3.15

In [98]:
type(PI)

float

1- NUMERIC :- 
INT || FLOAT || COMPLEX || BOOL
![image.png](attachment:image.png)

## operator 
1- ARITHMETIC OPERATOR ( + , -, *, /, %, %%, **, ^
2- ASSIGNMEN OPERATOR (=)
3- RELATIONAL OPERATOR
4- LOGICAL OPERATOR
5- UNARY OPERATOR
![image.png](attachment:image.png)

## Arithmetic operator

In [99]:
x1, y1 = 10, 5

In [100]:
#x1 ^ y1

In [101]:
x1  + y1

15

In [102]:
x1 - y1

5

In [103]:
x1 * y1

50

In [104]:
x1 / y1

2.0

In [105]:
x1 // y1

2

In [106]:
x1 % y1

0

In [107]:
x1 ** y1

100000

In [108]:
x2 = 3
y2 = 2
x2 ** y2

9

## Assignment operator

In [109]:
x = 2

In [110]:
x = x + 2 # if you want to increment by 2

In [111]:
x

4

In [112]:
x += 2
x

6

In [113]:
x += 2
x

8

In [114]:
x *= 2

In [115]:
x

16

In [116]:
x -= 2

In [117]:
x

14

In [118]:
x /= 2
x

7.0

In [119]:
x //= 2
x

3.0

In [120]:
a, b = 5,6 # you can assigned variable in one line as well

In [121]:
a

5

In [122]:
b

6

## unary operator 
- unary means 1 || binary means 2
- Here we are applying unary minus operator(-) on the operand n; the value of m becomes -7, which indicates it as a negative value.

In [123]:
n = 7 #negattion
n

7

In [124]:
m = -(n)
m

-7

In [125]:
n

7

In [126]:
-n

-7

# Relational operator 
we are using this operator for comparing

In [127]:
a = 5
b = 6

In [128]:
a<b

True

In [129]:
a>b

False

In [130]:
# a = b # we cannot use = operatro that means it is assigning

In [131]:
a == b

False

In [132]:
a != b

True

In [133]:
# hear if i change b = 6
b = 5

In [134]:
a == b

True

In [135]:
a

5

In [136]:
b

5

In [137]:
a >= b

True

In [138]:
a <= b

True

In [139]:
a < b

False

In [140]:
a>b

False

In [141]:
b = 7

In [142]:
a != b

True

## LOGICAL OPERATOR 
- logical operator you need to understand about true & false table 
![image.png](attachment:image.png)
- 3 importand part of logical operator is --> AND, OR, NOT

- lets understand the truth table:- in truth table you can represent (true-1 & false means- 0)
![image.png](attachment:image.png)

![image.png](attachment:image.png)

![image.png](attachment:image.png)

In [143]:
a = 5
b = 4

In [144]:
a < 8 and b < 5 #refer to the truth table

True

In [145]:
a < 8 and b < 2

False

In [146]:
a < 8 or b < 2

True

In [147]:
a>8 or b<2

False

In [148]:
x = False
x

False

In [149]:
not x  # you can reverse the operation

True