# Tuple

# Tuple Creation

In [ ]:
tupl = ()	# Empty tiiipLe

In [ ]:
tup2 = (10,30,60)	# Note of integers numbers

In [ ]:
tup3 = (10.77,30.66,60.89)	# tu4t1Le of float numbers

In [ ]:
tup4 = ('one','two' , 'three')	# tuipLe of strings

In [ ]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90))	# Nested tupLes

In [ ]:
tup6 = (100, 'Asif', 17.765)	# TupLe of mixed data types

In [ ]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33)) 
len(tup7) #Length of List

6

# Tuple Indexing

In [ ]:
tup2[0] # Retreive first eLement of the trupLe

10

In [ ]:
tup4[0] # Retreive first eLement of the tupLe

'one'

In [ ]:
tup4[0][0] # Nested indexing -Access the first character of the first tuple

'o'

In [ ]:
tup4[-1] # Last item of the tupLe

'three'

In [ ]:
tup5[-1]

(150, 90)

# Tuple Slicing

In [ ]:
mytuple = ('one' , 'two',	'three' , 'four' , 'five' , 'six' , 'seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple[0:3] # Return aLL items _from i9th to 3rd index Location excLuding the item

('one', 'two', 'three')

In [ ]:
mytuple[2:5] #List on items from 2nd to 5th index Location excluding the item

('three', 'four', 'five')

In [ ]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [ ]:
mytuple[:2] # Return first two items

('one', 'two')

In [ ]:
mytuple[-3:] # Return Last three items

('six', 'seven', 'eight')

In [ ]:
mytuple[-2:] # Return Last two items

('seven', 'eight')

In [ ]:
mytuple[-1] # Return Lost item of the tupLe

'eight'

In [ ]:
mytuple[:] # return the whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & change

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
del mytuple[0] # tuples are immutable which means we can't delete tuple items

In [ ]:
mytuple[0] = 1 # tuples are immutable which means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple # Deleting th entire tuple is possible

# Loop through a tuple

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
'one' in mytuple # check if 'one' is in the tuple or not

True

In [ ]:
'ten' in mytuple

False

In [ ]:
if 'three' in mytuple:
    print('three is present in the tuple')
else:
    print('three is not present in the  tuple')

three is present in the tuple

In [ ]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the  tuple')

eleven is not present in the  tuple

# index position

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple.index('one') # index of the first element equal to 'one

0

In [ ]:
mytuple.index('five')

4

# Sorting

In [ ]:
mytuple1 = (2,3,1)

In [ ]:
mytuple2 = sorted(mytuple1) # return a new sorted tuple and doesn't chnage the original tuple
mytuple2

[1, 2, 3]

In [ ]:
mytuple2 = sorted(mytuple1,reverse=True)
mytuple2

[3, 2, 1]