In [ ]:
txt="  abc def ghi  "

In [ ]:
txt.lstrip()#lstrip prints the string you have given

'abc def ghi  '

In [ ]:
txt.strip()#strip prints without any spaces in the string

'abc def ghi'

In [ ]:
txt

'  abc def ghi  '

using escape character

In [ ]:
mystr="my favourite movie is"Game of thrones""

SyntaxError: invalid syntax (2884377909.py, line 1)

In [ ]:
mystr="my favourite movie is\"Game of thrones\""#here '\' makes the string run with error
print(mystr)

my favourite movie is"Game of thrones"

In [ ]:
print(mystr)

my favourite movie is"Game of thrones"

LIST

In [ ]:
list1=[]

In [ ]:
list1.append(20)#append is used for adding an value or element at last

In [ ]:
list1

[20]

In [ ]:
print(type(list1))#prints type of the list

<class 'list'>

In [ ]:
list2=[10,30,60]

In [ ]:
list2

[10, 30, 60]

In [ ]:
list3=[10,77,30.66,60.89]

In [ ]:
list4=['one','two',"three"]

In [ ]:
list5=['asif',25,[50,100],[150,90]]#nested

In [ ]:
list6=[100,'asif',17.765]

In [ ]:
list7=['asif',25,[50,100],[150,90],{'john','david'}]

In [ ]:
len(list6)

3

In [ ]:
len(list7)#gives the length of the list

5

In [ ]:
list2

[10, 30, 60]

In [ ]:
list2[0]#shows the value at index 0 oin the list

10

In [ ]:
list2[4]# shoes the error out of range

IndexError: list index out of range

In [ ]:
list[2:0]

list[slice(2, 0, None)]

In [ ]:
list4[-1]

'three'

In [ ]:
list5[-1]

[150, 90]

In [ ]:
mylist=['one','two','three','four','five','six','seven','eight']

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist[0:3]

['one', 'two', 'three']

In [ ]:
mylist[0:-1]

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
mylist[:-2]

['one', 'two', 'three', 'four', 'five', 'six']

In [ ]:
mylist.

['six', 'seven', 'eight']

In [ ]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

ADD,REMOVE,&CHANGES ITEMS

In [ ]:
mylist.

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.appe

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.insert(9,'ten')

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist.insert(1,'ONE')

In [ ]:
mylist

['one',
 'ONE',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [ ]:

mylist.remove('one')

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist.pop()

'ten'

In [ ]:
mylist.pop(8)

'nine'

In [ ]:
del mylist[7]

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
#change value of list
mylist[0]=1
mylist[1]=2
mylist[2]=3

In [ ]:
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [ ]:
l1=[]
mylist.copy()==l1

False

In [ ]:
mylist.clear()

In [ ]:
mylist

[]

In [ ]:
del mylist

In [ ]:
mylist#the list is deleted

NameError: name 'mylist' is not defined

COPYLIST

In [ ]:
mylist=['one','two','three','four','five','six','seven','eight']

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
id(mylist)

2499511894976

In [ ]:
mylist2=mylist.copy()

In [ ]:
id(mylist),id(mylist2)

(2499511894976, 2499512310272)

In [ ]:
mylist[0]=1

In [ ]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist1=['one','two','three','four','five','six','seven','eight']

In [ ]:
mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist1[0]

'one'

In [ ]:
mylist3=mylist1+mylist2

In [ ]:
mylist3

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight']

In [ ]:
mylist.extend(mylist2)

In [ ]:
mylist

[1,
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight']

LISTMEMBERSHIP

In [ ]:
list1=['one','two','three','four']

list2=['five','six','seven','eight']

In [ ]:
list1.extend(list2)

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
'one' in list1#membership operators are in and not in

True

In [ ]:
if 'three' in list1:
    print('three is present in list1')
else:
    print('three doesnt exist in list1')

three is present in list1

reverse and sort list

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.reverse()

In [ ]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
list1.reverse()
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1[::-1]

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
list1[::-1]

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
list1[0::]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist3=[9,5,2,99,12,88,34]

In [ ]:
mylist3.sort#sorts list in ascending order

In [ ]:
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [ ]:
mylist3=[9,5,2,99,12,88,34]#sorting in descending order
mylist3.sort(reverse=True)

In [ ]:
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
sorted(mylist3)#this sorted returnd=s the sorted list without changing list

[2, 5, 9, 12, 34, 88, 99]

In [ ]:
mylist3

[99, 88, 34, 12, 9, 5, 2]

LOOP THROUGH A LIST

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
for i in list1:#printing the list  using for loop
    print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(list1):#enumerate prints the list with index nuymbers
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

COUNT

In [ ]:
list10=['one', 'two', 'three', 'four', 'one','one','two','three']

In [ ]:
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [ ]:
list10.count('one')

3

In [ ]:
list10.count('two')

2

ALL/ANY

THE ALL METHOD RETURNS -->
TRUE :IF ALL ELEMENTS ARE TRUE(NO '0')
FALSE:IF FALSE ELEMENT IS PLACED IN A LIST(LIST HAS '0')

In [ ]:
L1=[1,2,3,4,5,0]
all(L1)
list=[]

In [ ]:
all1=[1,2,3,True]

In [ ]:
all(L1)

False

In [ ]:
any(list)#returns false if list is empty(or)returns true if list exist iterals

False

In [ ]:
l=[400,20,30]
l.sort()#parameter tunning

In [ ]:
all(l)

True

In [ ]:
l.sort(reverse=True)#hyper parameter tunning

In [ ]:
l

[400, 30, 20]

In [ ]:
l.extend(L1)

In [ ]:
l

[400, 30, 20, 1, 2, 3, 4, 5, 0]

In [ ]:
all(l)

False

In [ ]:
l=[2,1,56,87,43,32,23]

In [ ]:

sorted(l)

[1, 2, 23, 32, 43, 56, 87]

In [ ]:
l

[2, 1, 56, 87, 43, 32, 23]

In [ ]:
sorted(l,reverse=True)

[87, 56, 43, 32, 23, 2, 1]

In [ ]:
l.sort( reverse=False)

In [ ]:

l

[20, 30, 400]

In [ ]:
tuple(1,[1,2])

TypeError: tuple expected at most 1 argument, got 2

In [ ]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [ ]:
print(1,2,3)

1 2 3

In [ ]:
print(1.2.3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (910179706.py, line 1)

In [ ]:
10/3

3.3333333333333335